# Copy this file to ".env.dev" and ".env.docker.dev", and then tweak values for local development
FREQUENCY_URL=ws://0.0.0.0:9944
REDIS_URL=redis://0.0.0.0:6379
QUEUE_HIGH_WATER=1000
API_PORT=3000

# Add the graph environment type. This can be 'Dev' or 'Rococo' or 'Mainnet'.
GRAPH_ENVIRONMENT_TYPE=Dev

# [NOTE]: The following config is only used for Dev environments.
# Add the graph environment config in JSON format only used for Dev environments.
# Be careful to escape any inner quotes as this is in a .env file.
GRAPH_ENVIRONMENT_DEV_CONFIG='{"sdkMaxStaleFriendshipDays":100,"maxPageId":100,"dsnpVersions":["1.0"],"maxGraphPageSizeBytes":100,"maxKeyPageSizeBytes":100,"schemaMap":{"1":{"dsnpVersion":"1.0","connectionType":"follow","privacyType":"public"},"3":{"dsnpVersion":"1.0","connectionType":"follow","privacyType":"private"},"4":{"dsnpVersion":"1.0","connectionType":"friendship","privacyType":"private"}},"graphPublicKeySchemaId":5}'
PROVIDER_ACCOUNT_SEED_PHRASE="//Alice"
