# Ignore artifacts
**/dist
**/build
**/*.yaml
**/*.yml
# Ignore rust build files
services/account/webhook-servers/target
# Ignore generated content
services/*/apps/api/src/metadata.ts
**/swagger.json
services/*/docs/index.html
**/metadata.ts
openapi-specs/*
**/target/**
jest.config.json
docs/*