# Ignore artifacts
**/dist
**/build
**/*.yaml
**/*.yml
# Ignore rust build files
rust-webhook-server/target
# Ignore generated content
apps/**/metadata.ts

# Ignore most docs
docs/**/*.html
docs/**/*.js
docs/**/*.hbs

**/metadata.ts
openapi-specs/*
**/tsconfig*.json
nest-cli.json
jest.config.json
