# Ignore artifacts
**/dist
**/build
**/*.yaml
**/*.yml
# Ignore rust build files
services/account/rust-webhook-server/target
# Ignore generated content
services/*/apps/api/src/metadata.ts
**/swagger.json
services/*/docs/index.html
**/metadata.ts
openapi-specs/*
jest.config.json
docs/theme/*