# Copy this file to ".env.dev" and ".env", and then tweak values for local development

# Port that the application REST endpoints listen on
API_PORT=3000

# Blockchain node address
FREQUENCY_URL=ws://0.0.0.0:9944

# Specifies the provider ID
PROVIDER_ID=1

# Seed phrase for provider MSA control key
PROVIDER_ACCOUNT_SEED_PHRASE='//Alice'

# Redis URL
REDIS_URL=redis://0.0.0.0:6379

# Max number of jobs allowed on the 'graphUpdateQueue' before
# blockchain scan will be paused to allow queue to drain
QUEUE_HIGH_WATER=1000

# Number of seconds to retain pending graph updates in the Redis cache to avoid redundant fetches from the chain
DEBOUNCE_SECONDS=10

# Maximum amount of provider capacity this app is allowed to use (per epoch)
#     type: 'percentage' | 'amount'
#     value: number (may be percentage, ie '80', or absolute amount of capacity)
CAPACITY_LIMIT='{"type":"percentage", "value":80}'

# Add the graph environment type. This can be 'TestnetPaseo' or 'Mainnet'.
# Mainnet is also used for dsnp/instant-seal-node-with-deployed-schemas:latest
GRAPH_ENVIRONMENT_TYPE=Mainnet

PROVIDER_ACCOUNT_SEED_PHRASE="//Ferdie"

# Whether to instantiate/activate reconnection-service features
RECONNECTION_SERVICE_REQUIRED=true

### The following are only applicable if RECONNECTION_SERVICE_REQUIRED is 'true'

# Base URL for provider webhook endpoints
PROVIDER_BASE_URL=https://some-provider/api/v1.0.0

# An optional bearer token authentication to the provider webhook
PROVIDER_ACCESS_TOKEN=some-token

# Number of connection/page to request when requesting provider connections from webhook
CONNECTIONS_PER_PROVIDER_RESPONSE_PAGE=100


# How many minutes to delay between successive scans of the chain
# for new accounts (after end of chain is reached)
BLOCKCHAIN_SCAN_INTERVAL_MINUTES=1

# Number of failures allowing in the provider webhook before the service is marked down
WEBHOOK_FAILURE_THRESHOLD=3

# Minimum number of consecutive successful calls to the provider webhook
# `/health` endpoint before it is marked up again
HEALTH_CHECK_SUCCESS_THRESHOLD=10

# Number of seconds between provider webhook retry attempts when failing
WEBHOOK_RETRY_INTERVAL_SECONDS=10

# Number of seconds to retry provider webhook `/health` endpoint when failing
HEALTH_CHECK_MAX_RETRY_INTERVAL_SECONDS=10

# Number of `/health` endpoint failures allowed before marking the provider webhook service down
HEALTH_CHECK_MAX_RETRIES=4
