# Copy this file to ".env.dev" and ".env.docker.dev", and then tweak values for local development

# Port that the application REST endpoints listen on
API_PORT=3000

# Blockchain node address
FREQUENCY_URL=ws://0.0.0.0:9944
#FREQUENCY_URL=ws://frequency:9944                    #docker dev

# Blockchain node address resolvable from the client browser
FREQUENCY_HTTP_URL=http://0.0.0.0:9944
#FREQUENCY_HTTP_URL=http://frequency:9944             #docker dev
#FREQUENCY_HTTP_URL=https://0.frequency.xyz          #mainnet
#FREQUENCY_HTTP_URL=https://rpc.testnet.amplica.io   #testnet(paseo)

# Specifies the provider ID
PROVIDER_ID=1

# Base URL for provider webhook endpoints
#PROVIDER_BASE_URL=http://localhost:5555/api/v3
PROVIDER_BASE_URL=http://host.docker.internal:5555/api/v3/webhook

# Redis URL
REDIS_URL=redis://0.0.0.0:6379
#REDIS_URL=redis://redis:6379                        #docker dev

# An optional bearer token authentication to the provider webhook
PROVIDER_ACCESS_TOKEN=some-token

# Seed phrase for provider MSA control key
PROVIDER_ACCOUNT_SEED_PHRASE='come finish flower cinnamon blame year glad tank domain hunt release fatigue'

# Number of failures allowing in the provider webhook before the service is marked down
WEBHOOK_FAILURE_THRESHOLD=3

# Number of seconds between provider webhook retry attempts when failing
WEBHOOK_RETRY_INTERVAL_SECONDS=10

# Number of `/health` endpoint failures allowed before marking the provider webhook service down
HEALTH_CHECK_MAX_RETRIES=4

# Number of seconds to retry provider webhook `/health` endpoint when failing
HEALTH_CHECK_MAX_RETRY_INTERVAL_SECONDS=10

# Minimum number of consecutive successful calls to the provider webhook
# `/health` endpoint before it is marked up again
HEALTH_CHECK_SUCCESS_THRESHOLD=10

# Maximum amount of provider capacity this app is allowed to use (per epoch)
#     type: 'percentage' | 'amount'
#     value: number (may be percentage, ie '80', or absolute amount of capacity)
CAPACITY_LIMIT='{"type":"percentage", "value":80}'

# URL for the Sign-In With Frequency UI
SIWF_URL=https://amplicalabs.github.io/siwf/ui

# Domain for the Sign-in with Frequency login payload
SIWF_DOMAIN=localhost

# Enable debug mode for development
DEBUG=true
