# Copy this file to "<project_root>/.env.content-watcher-service", and then tweak values for local development
# Values in this file will override the same-named environnent variables in `.env.common.docker` for the content-watcher-service

# URL to IPFS endpoint
# IPFS_ENDPOINT="https://ipfs.infura.io:5001"
IPFS_ENDPOINT="http://kubo_ipfs:5001"

# If using Infura, put Project ID here, or leave blank for Kubo RPC
# IPFS_BASIC_AUTH_USER=

# If using Infura, put auth token here, or leave blank for Kubo RPC
IPFS_BASIC_AUTH_SECRET=

# IPFS gateway URL. '[CID]' is a token that will be replaced with an actual content ID
# IPFS_GATEWAY_URL="https://ipfs.io/ipfs/[CID]"
IPFS_GATEWAY_URL="http://kubo_ipfs:8080/ipfs/[CID]"

# Block number from which the service will start scanning the chain
STARTING_BLOCK=1

# How many minutes to delay between successive scans of the chain
# for new accounts (after end of chain is reached)
BLOCKCHAIN_SCAN_INTERVAL_MINUTES=1

# Max number of jobs allowed on the queue before
# blockchain scan will be paused to allow queue to drain
QUEUE_HIGH_WATER=1000

# Number of retry attempts if a registered webhook call fails
WEBHOOK_FAILURE_THRESHOLD=4

# Number of seconds between webhook retry attempts when failing
WEBHOOK_RETRY_INTERVAL_SECONDS=10
