/* Adding in a few tailwind classes and defaults for ease of use */

*,
::before,
::after {
  box-sizing: border-box;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

@media (min-width: 620px) {
  .md:w-full {
    width: 100%;
  }
}
