# Copy this file to ".env.dev" and ".env.docker.dev", and then tweak values for local development
# IPFS_ENDPOINT="https://ipfs.infura.io:5001"
# IPFS_BASIC_AUTH_USER="Infura Project ID Here or Blank for Kubo RPC"
# IPFS_BASIC_AUTH_SECRET="Infura Secret Here or Blank for Kubo RPC"
# IPFS_GATEWAY_URL="https://ipfs.io/ipfs/[CID]"
IPFS_ENDPOINT="http://127.0.0.1:5001"
IPFS_BASIC_AUTH_USER=""
IPFS_BASIC_AUTH_SECRET=""
IPFS_GATEWAY_URL="http://127.0.0.1:8080/ipfs/[CID]"

FREQUENCY_URL=ws://0.0.0.0:9944
STARTING_BLOCK=0
REDIS_URL=redis://0.0.0.0:6379
BLOCKCHAIN_SCAN_INTERVAL_MINUTES=1
QUEUE_HIGH_WATER=1000
HEALTH_CHECK_SUCCESS_THRESHOLD=10
HEALTH_CHECK_MAX_RETRY_INTERVAL_SECONDS=10
HEALTH_CHECK_MAX_RETRIES=4
WEB_HOOK_POST_MAX_RETRIES=4
API_PORT=3000

# should be dev for e2e tests. Options [dev, rococo, mainnet]
ENVIRONMENT=dev

