# Copy this file to ".env" and ".env.docker.dev", and then tweak values for local development

# URL to IPFS endpoint
# IPFS_ENDPOINT="https://ipfs.infura.io:5001"
IPFS_ENDPOINT="http://127.0.0.1:5001"

# If using Infura with auth required for read access, put Project ID here, or leave blank for Kubo RPC
# IPFS_BASIC_AUTH_USER=

# If using Infura with auth required for read access, put auth token here, or leave blank for Kubo RPC
# IPFS_BASIC_AUTH_SECRET=

# IPFS gateway URL. '[CID]' is a token that will be replaced with an actual content ID
# IPFS_GATEWAY_URL="https://ipfs.io/ipfs/[CID]"
IPFS_GATEWAY_URL="http://127.0.0.1:8080/ipfs/[CID]"

# Blockchain node address, used to access the blockchain API
FREQUENCY_API_WS_URL=ws://0.0.0.0:9944

# Timeout value (seconds) for connection to chain
FREQUENCY_TIMEOUT_SECS=10

# Redis URL
# Only one of REDIS_URL or REDIS_OPTIONS may be specified.
# Additional Redis options may be specified as query parameters.
# See https://ioredis.readthedocs.io/en/latest/API/#new-redisport-host-options
REDIS_URL=redis://0.0.0.0:6379?commandTimeout=10000
#REDIS_URL=redis://redis:6379                        #docker dev

# Redis client options as a JSON object string.
# Only one of REDIS_URL or REDIS_OPTIONS may be specified.
# See https://ioredis.readthedocs.io/en/latest/API/#new-redisport-host-options
#REDIS_OPTIONS='{"host": "0.0.0.0", "port": 6379, "commandTimeout":10000, "tls": true}' # equivalent to 'rediss://0.0.0.0:6379?commandTimeout=10000'
#REDIS_OPTIONS='{"host": "0.0.0.0", "port": 6379, "commandTimeout":10000}' # equivalent to 'redis://0.0.0.0:6379?commandTimeout=10000'


# How many seconds to delay between successive scans of the chain
# for new content (after end of chain is reached)
BLOCKCHAIN_SCAN_INTERVAL_SECONDS=6

# Max number of jobs allowed on the queue before
# blockchain scan will be paused to allow queue to drain
QUEUE_HIGH_WATER=1000

# Number of retry attempts if a registered webhook call fails
WEBHOOK_FAILURE_THRESHOLD=4

# Number of seconds between webhook retry attempts when failing
WEBHOOK_RETRY_INTERVAL_SECONDS=10

# Port that the application REST endpoints listen on
API_PORT=3000

# Prefix to use for Redis cache keys
CACHE_KEY_PREFIX=content-watcher:

# Api timeout limit in milliseconds
API_TIMEOUT_MS=30000

# Api json body size limit in string (some examples: 100kb or 5mb or etc)
API_BODY_JSON_LIMIT=1mb

# Timeout in milliseconds to wait for a response as part of a request to an HTTP endpoint
HTTP_RESPONSE_TIMEOUT_MS=3000
